*{
	max-width: 100vw;
}

body{
	background: #676d58;
}

header{
	padding: 2% 0;
	background-color: rgba(255,255,255,0.8);
	width: 100%;
}
.top-banner{
	background-color: #fffffd;
}

.top-banner h1{
	color:#63a2cf;
	text-align: center;
	font-family: serif;
}

.nsf-bg{
	background-color: #0f151b;
	color:#6c757d;
}

.medium-banner{
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-around;;
}

.img-banner{
	padding: 0;
}

.active{
	background-color: orange!important;
    color: white!important;
}

.color-orange{
	color:orange;
}
main{
	padding-bottom: 2%;
	background-color: rgba(255,255,255,0.8);
	color: #476e8e;
}

.divider-sec{
    padding: 1rem;
    border-bottom: 0.2rem orange solid;    
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1rem;

}
.printable{
	background: #ffffff;
}
.content-left{
	background: #fffff1;
	    padding:2rem;
    min-height: 70vh!important;
}

.content-center{
	background: #fffffd;
	    padding:2rem;
    min-height: 70vh!important;
}

.content-right{
	background: #fffff1;
	    padding:2rem;
    min-height: 70vh!important;
}

.disclaimer-txt{
	padding: 1rem 0 0 0;
	font-size: 0.7rem!important;
	width: 80%;
	margin-left: auto;
	margin-right:auto;
}

footer{
	background-color: #0f151b;
	color:#6c757d;
}
footer h3{
 border-bottom: #212427 solid 1px;
 padding-bottom: 0.3em;
 width: 100%;
}
.img-neiu-footer{
  height:1.5em;
  width: auto;
}

.copyrights{
	/*content: "Designed and developed by Marianela Crissman";*/
	padding-top: 2%;
	padding-bottom: 1%;
	color: #fdb813;
	background-color: #0a0e13;
	font-variant-caps: small-caps;
	text-align: center;
	font-size: 0.8em;
}
.sub-title{
	color: orange;
}
.img-t-a{
	width: 60%;
}
p{
	text-align: justify;
}
.bg-yellow{
	background-color: yellow;
}

.falta{
	color: red!important;
}



/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
	width: 100%; 
	border-collapse: collapse!important; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
	background: #deeaf6; 
  }
  th { 
	background: #0068b3; 
	color: white; 
	font-weight: bold;
  }
  td, th { 
	/* padding: 6px;  */
	border: 1px solid #ccc; 
	/* text-align: left;  */
  }

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 767px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block!important; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute!important;
		top: -9999px!important;
		left: -9999px!important;
	}
	
	tr { border: 1px solid #ccc!important; }
	
	td { 
		/* Behave  like a "row" */
		border: none!important;
		border-bottom: 1px solid #eee!important; 
		position: relative!important;
		padding-left: 25%!important;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute!important;
		/* Top/left values mimic padding */
		top: 6px!important;
		left: 6px!important;
		width: 45%!important;
		padding-right: 10px!important;
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Session"; }
	td:nth-of-type(2):before { content: "Details"; }
}
